#icon{/*Ajustar o tamanho*/
	width:100%;
	height:100%;
}
#bell{ /* Ajustar o tamanho*/
	width:30px;
	height:30px;
    position: absolute;
    right:0;
    top:0;
}

.fonth2 {
	font-size:1.5em;		
}
.pc70{
	padding-left:5%;
}

.tamfont {
	font-size:0.8em;		
}

#search{
	margin:2%;
	padding:2%;
}
#event{
	margin:5%;
	padding-top:8%;
}


a {
    color: #1e7ad3;
    text-decoration: none;
}

input {
    font-family: Arial;
    font-size: 13px;
    color: #555860;
}

.search {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.search input {
    height: 26px;
    width: 80%;
    padding: 0 12px 0 25px;
    background: white url("../images/searchicon.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc;
    border-radius: 13px;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
}

.search input:focus + .results { display: block }

.search .results {
    display: none;
    position: absolute;
	width: 80%;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2;
    border-radius: 3px;
    background-color: #fdfdfd;
}

.search .results li { display: block }

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

button {
    height: 1.88em;
    width: 5.5em;
    border-radius: 0.3em;
    font-family: arial;
    color: #ffffff;
    font-size: 1.0em;
    background: #faaf3c; 
    margin: 0 auto;
    border: solid #ffaa00 1px;
    text-decoration: none;
    position: relative;

}

button:active {
    position:relative;
    top:1px;
    /*box-shadow: inset 0 0 0 3px #FFFFFF;*/
    color:#000080;
}

.fontp  { 
    font-family: arial;
    font-weight: bold;
}


a, a:link, a:visited, a:hover, a:active { /*links*/
    text-decoration: none;
    color: black;
}

#alertaNotificacao {
    border: 2px #faaf3c solid;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    text-align: justify;
    padding: 5%;
    display: none;
    background-color: #fff;
}

#alertaNotificacao > p {
    margin-bottom: 3%;
}
.centralizar {
    text-align: center;
}

#buttonSim {
    margin-left: 10%;
    margin-right: 20%;
}

#content {
    display: inherit;
}

